.graticule
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
.headline {
    background-color: blue;
    color: white;
    padding: 30px;
    }
.navig {
    background-color: yellow;
    padding: 30px;

    }
.main {
    background-color: darkblue;
    color: white;
    padding: 5px;
    float: left;

    }
.alongside {
    background-color: lightgreen;
    float: left;
    padding: 5px;

    }
.footer {
    background-color: darkgreen;
    color: white;
    padding: 5px;

    }